<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>better skin</title>
</head>

<body>
  <section id="profile">
    <p><img src="" alt="">profile image</p>
    <p>age:</p>
    <p>skin type:</p>
    <p>skin concerns:</p>
    <p><button id="profile-edit">Edit</button></p>
  </section>

  <section id="routine">
    <div>
      <p>
        step 1 - cleanser
      </p>
      <p>
        image from API
        <img src="" alt="">
      </p>
      <p>
        price from API
      </p>
    </div>
    <div>
      <p>
        step 2 - hydration
      </p>
      <p>
        image from API
        <img src="" alt="">
      </p>
      <p>
        price from API
      </p>
    </div>

    <div>
      <p>
        step 3 - moisturizer
      </p>
      <p>
        image from API
        <img src="" alt="">
      </p>
      <p>
        price from API
      </p>
    </div>
    <p><button id="routine-edit">Edit/Add Step</button></p>
  </section>


  <!-- <section id="social">

    <p>
      <a href="">following</a>
    </p>
    <p>
      <a href="">followers</a>
    </p>
    <p>
      <a href="">posts</a>
    </p>
  </section> -->


  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/app.js"></script>
</body>

</html>