{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<body>
  <section id="profile">
    <p><img src="" alt="">profile image</p>
    <p>age:</p>
    <p>skin type:</p>
    <p>skin concerns:</p>
    <p>
      <a href="/profile">
      <button id="profile-edit">Edit</button>
    </a>
  </p>
  </section>


  <section id="products">
  <h2>Create a new routine</h2>

    <a href="/product">
      <button id="product-edit">Find products</button>
    </a>

  </section>

</body>
{% endblock %}

