{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<body>
  <section id="profile">
    <p><img src="" alt="">profile image</p>
    <p>age:</p>
    <p>skin type:</p>
    <p>skin concerns:</p>
    <p>
      <a href="/profile">
      <button id="profile-edit">Edit</button>
    </a>
  </p>
  </section>

  <section id="routine">
  <h2>routines</h2>

  Existing routines from database should display here

    <a href="/routine">
    <button id="routine-edit">Add routine</button>
    </a>


  </section>


  <section id="products">
  <h2>products</h2>

  Existing products from database should display here
    <a href="/product">
      <button id="product-edit">Find products</button>
    </a>

  </section>

</body>
{% endblock %}

