{% extends 'base.html' %}

{% block title %}Product Form{% endblock %}

{% block content %}

<body>
  <section>
  Search for product 
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <p>
      {{field.label}}
      {{field}}

      {% for err in field.errors %}
      {{err}}
      {% endfor %}
    </p>
    {% endfor %}
    <a href="/API" method="GET">
      <input type="submit">
    </a>
  </form>

</section>  

<section>
  <form action="">
Products to add to database
 <ul id="products">

   {% for product in product_name %}
   <li><label for="">{{product}}</label></li>
  
   {% endfor %}
   
 </ul>
 
</form>
</section>

</body>


{% endblock %}