{% extends 'base.html' %}

{% block title %}Product Form{% endblock %}

{% block content %}

<body>
  <section>
  Search for product 
 <form  id="product-search">
   <input type="text" name="product">
   <input type="submit" value="search">
 </form>
</section>

 <section>
Products to add to routine
  <ul id="products">
    <li>
      <a href="">Li's facewash</a>
      </li>
    <li><a href="">Li's cleanser</a>
      </li>
    <li><a href="">Li's moisturizer</a>
      </li>
    <li><a href="">Li's sunscreen</a>
      </li>
  </ul>
</section>

  

</body>


{% endblock %}