{% extends 'base.html' %}

{% block title %}Product Form{% endblock %}

{% block content %}

<body>
  <section>
  Search for product 
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <p>
      {{field.label}}
      {{field}}

      {% for err in field.errors %}
      {{err}}
      {% endfor %}
    </p>
    {% endfor %}
    <a href="/API" method="GET">
      <button>Submit</button>
    </a>
  </form>

</section>

 <section>
Products to add to routine
  <ul id="products">

    
    
  </ul>
</section>

  

</body>


{% endblock %}